name: Convert README to INDEX

on:
  push:
    branches: [ "main" ]  

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install markdown package
        run: sudo apt-get update && sudo apt-get install -y --no-install-recommends markdown

      - name: Run README to HTML script
        run: .github/scripts/md2index.sh
          source: readme.md
          output: index.html

      - name: Commit and push changes
        run: |
          git config --global user.email "myemail@mail.com"
          git config --global user.name "my-bot-github-actions"
          git add index.html
          if git diff --cached --quiet; then
            echo "No changes to commit"
            exit 0
          else
            git commit -m "Auto-generate index.html from README.md"
            git push
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

